
#nav{
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: yellow;
  color: red;
}

#nav h1{
  border: 2px solid black;
  height: 30px;
  width: 90px;

}

#max{
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: yellow;
  color: red;
}

#max h1{
  border: 2px solid black;
}


#nav>div{
  height: 300px;
 
  border: 2px solid black;
}

.box01{
  width: 350px;
  /* height: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.box01-A{
  background-color: rgb(190, 212, 190);
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.box01-B{
  border: 2px solid black;
  height: 200px;
  width: 100px;
  background-color: aquamarine;

}

.box01-Acircle ,.box01-Acircle{
  height: 100px;
  width: 90px;
  border: 1px solid black;
  border-radius: 50%;
}

.box-02{
  width: 300px;
  height: 200px;
 display: flex;
 justify-content: space-around;
 border: 1px solid black;
 align-items: center;

}

.box02A{
  width: 64px;
  height: 200px;
  border-color: red;
  border: 1px solid black;

}

.box03{
  width: 400px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box03A{
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;


}


.box03A01{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

